* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.container {
  background-color: #718c5a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  height: 5%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 100%;
  border-top: 2px solid white;
}

.list-item {
  width: 70px;
  margin-right: 15px;
  list-style-type: none;
  text-align: center;
}

.list-item:nth-child(5) {
  width: 90px;
}

.list-item:nth-child(1) {
  width: 100px;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: slateblue;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

/*--------------------------------------------------------------------- Nav bar finished --------------------------------------------------------*/

.game {
  height: 65%;
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableau {
  color: white;
  width: 30%;
  background-color: #1a2125;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.time {
  padding-right: 25px;
}

.score {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
}

.blue {
  color: #5689e5;
}

.red {
  color: #e56e56;
}

.stadium {
  position: relative;
  height: 100%;
  width: 100%;
}

.stade {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 23vw;
}
.terrain {
  z-index: 0;
  border-radius: 5vw;
  box-sizing: border-box;
  border: 0.2vw solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    #6d945c 12.5%,
    #7da372 12.5%,
    #7da372 37.5%,
    #6d945c 37.5%,
    #6d945c 62.5%,
    #7da372 62.5%,
    #7da372 87.5%,
    #6d945c 87.5%
  );
  background-size: 10vw 10vw;
}
.rond-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2vw solid white;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
}
.ligne-centre {
  position: absolute;
  left: 50%;
  background-color: white;
  width: 0.15vw;
  height: 100%;
}
.cage {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3vw;
  height: 46%;
  border-top: 0.2vw solid black;
  border-bottom: 0.2vw solid black;
}
.cage-gauche {
  overflow: visible;
  left: 0;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-left: 0.2vw solid black;
}
.cage-droite {
  overflow: visible;
  right: 0;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-right: 0.2vw solid black;
}
.rond {
  border-radius: 100%;
  border: 1px solid black;
  position: absolute;
  width: 1vw;
  height: 1vw;
}
.rondhaut {
  transform: translateY(-50%);
}
.rondbas {
  bottom: 0;
  transform: translateY(50%);
}
.ronddroite {
  right: 2vw;
  background-color: #ccccff;
}
.rondgauche {
  background-color: #ffcccc;
  left: 2vw;
}
/* ----------------------------------------------------------- game done -----------------------------------------------------*/

.undergame {
  height: 30%;
  width: 100%;
  background-color: #1a2125;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ping {
  width: 10%;
  height: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}

.chat {
  color: #7db898;
  margin: 10px 0;
  width: 100%;
  padding-left: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.write {
  height: 30px;
  margin-bottom: 30px;
  width: 90%;
  padding-left: 10px;
  background-color: #111619;
  color: white;
  text-align: start;
  outline: none;
  border: none;
  border-radius: 15px;
}

.chat-btn,
.settings,
.Menu {
  height: 30px;
  width: 10%;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background-color: #2f5e85;
  padding: auto 20px;
  cursor: pointer;
  border-radius: 5px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 12%;
}
.send-message {
  width: 100%;
  display: flex;
}

.settings,
.Menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 100%;
}
